<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bible in One Year</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/tachyons.css">
    <link rel="stylesheet" href="/style.css">    
    
  </head>
  <body>
    <main id="app">
    <header class="w-100 bb bw1 b--black-60 pa2">
      <form class="js-form w-100 flex-ns">
        <span>
          {{message}}
        </span>
        <input type="text" placeholder="username" name="username"
               v-if="!loggedIn"
               class="mv1 ma2-ns h2 b--black-60 black-80 bw1 ba" />

        <input type="password" placeholder="password" name="password"
               v-if="!loggedIn"
               class="mv1 ma2-ns h2 b--black-60 black-80 bw1 ba" />

        <button type="button" v-on:click.prevent="getNotes()"
                v-if="!loggedIn"
                class="mv1 ma2-ns h2 w-100 w4-ns b--black-60 black-80 bg-white bw1 ba b pointer">
            Login
        </button>

        <button type="button" v-on:click.prevent="createUser()"
                v-if="!loggedIn"
                class="mv1 ma2-ns h2 w-100 w4-ns b--black-60 black-80 bg-white bw1 ba b pointer">
            Register
        </button>
        
        <button type="button" v-on:click.prevent="logout()"
                v-if="loggedIn"
                class="mv1 ma2-ns h2 w-100 w4-ns b--black-60 black-80 bg-white bw1 ba b pointer">
            Login
        </button>

      </form>
    </header>
    <header class="ma2 ma3-ns">
      <h1>
        Bible in One Year <span class="f6 gray">(via <a href="http://bible.soulsurvivor.com/">Soul Survivor</a>)</span>
      </h1>
    </header>

      <br>
      
      <table cellspacing="0" class="w-100 mw8 center">
        <thead>
          <th class="tl pa2">Day</th>
          <th class="tl pa2">OT</th>
          <th class="tl pa2">NT</th>
          <th class="tl pa2">PP</th>
          <th class="tl pa2">✅</th>
        </thead>
        <tbody>
          <tr class="stripe-dark" v-for="reading in readings">
            <td class="pa2">{{reading.Day}}</td>
            <td class="pa2">{{reading.OT}}<a v-if="loggedIn" v-on:click="openModal('ot')">📝</a></td>
            <td class="pa2">{{reading.NT}}<a v-if="loggedIn" v-on:click="openModal('nt')">📝</a></td>
            <td class="pa2">{{reading.PP}}<a v-if="loggedIn" v-on:click="openModal('pp')">📝</a></td>
            <td class="pa2"><input type="checkbox" name="done" value="false" v-if="loggedIn"></td>
          </tr>
        </tbody>
      </table>
      
      <p>
        😃📔 <a href="https://glitch.com/~bioy">Made on Glitch by Ste</a>
      </p>
       
      <p class="f6">
        <strong>JSON API</strong> (for nerds): <a href="https://bioy.glitch.me/getReadings">https://bioy.glitch.me/getReadings</a>
      </p>
    </main>

    <div class="z-0
	    bg-gray o-50
	    fixed absolute--fill
	    t-0 l-0"
         v-if="modal"
         v-on:click="closeModal()"
         >
    </div>

    <div class="z-1
		b--black-80 black-80 bg-white bw1 ba
		fixed t-50 l-50 translate-center w-90 w-50-ns
		ma2 pa1 ph3"
         v-if="modal"
         >

        <span class="fr f3 pointer" v-on:click="closeModal()">&times;</span>

        <div class="center pv2">
            <form>
                <fieldset class="ba b--transparent ph0 mh0">
                    <legend class="f4 fw6">{{modalTitle}}</legend>
                    <div class="mt3">
                        <label class="db fw6 lh-copy f6" for="email-address">Notes</label>
                        <textarea class="pa2 input-reset ba bg-transparent w-100"
                               v-model="note" name="note"></textarea>
                    </div>
                </fieldset>
                <div>
                    <button class="b ph3 pv2 input-reset
                      b--black-80 black-80 bg-white bw1 ba
                      pointer dib"
                            v-on:click.prevent="saveNote()">
                        Save note
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/client.js"></script>
    
  </body>
</html>
