<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bible in One Year</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/tachyons.css">
    <link rel="stylesheet" href="/style.css">    
    
  </head>
  <body>
    <main id="app">
    <header class="w-100 bb bw1 b--black-60 pa2">
      <form class="js-form w-100 flex-ns">
        <input ng-model="username" type="text" placeholder="username"
               class="ma2 h2 b--black-60 black-80 bw1 ba" />

        <input ng-model="password" type="password" placeholder="password"
               class="ma2 h2 b--black-60 black-80 bw1 ba" />

        <button type="button" v-on:click.prevent="getNotes()"
                class="ma2 h2 w4 b--black-60 black-80 bg-white bw1 ba
                b pointer">
            Login
        </button>
      </form>
    </header>
    <header class="ma2 ma3-ns">
      <h1>
        Bible in One Year
      </h1>
      
      <p>
        I am following the <a href="http://bible.soulsurvivor.com/">Soul Survivor Bible in One Year</a> schedule.
      </p>
      
      <p>
        <strong>Coming soon:</strong> Save personal notes and progress.
      </p>
      
      <p class="f6">
        <strong>JSON API</strong> (for nerds): <a href="https://bioy.glitch.me/getReadings">https://bioy.glitch.me/getReadings</a>
      </p>
    </header>

      <br>
      
      <table cellspacing="0" class="w-100 mw8 center">
        <thead>
          <th class="tl pa2">Day</th>
          <th class="tl pa2">OT</th>
          <th class="tl pa2">NT</th>
          <th class="tl pa2">PP</th>
        </thead>
        <tbody>
          <tr class="stripe-dark" v-for="reading in readings">
            <td class="pa2">{{reading.Day}}</td>
            <td class="pa2">{{reading.OT}}</td>
            <td class="pa2">{{reading.NT}}</td>
            <td class="pa2">{{reading.PP}}</td>
          </tr>
        </tbody>
      </table>
      
      <p>
        😁📔 <a href="https://glitch.com/~bioy">Made on Glitch by Ste</a>
      </p>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/client.js"></script>
    
  </body>
</html>
